:root{
	/* 	Theme 2B */
	--first: #00453e;
	--second: #0b574f;
	--third: #ffcabd;
}

.card-text {
    text-decoration: auto;
    color: black;
    font-size: 1.6vh;
}
.card-description {
    color: black;
    font-size: 95%;
}
.card-description:hover {
    color: #c60e0e;
    text-decoration: underline;
}
