
footer {
	background: var(--first);
	color: white;
	text-align: center;
	font-size: 2vh;
}


.backToTop {
	background-color: #ca7d08;
	color: black;
	text-align: center;
	width: 100%;
	padding: 2vh;
	cursor: pointer;
	border: none;
}
.backToTop:hover {
	filter: brightness(120%);
}

.foot-table {
	margin: 5vh 0;
	display: flex;
	align-items: start;
	justify-content: center;
	gap: 8vw;
	flex-wrap: wrap;
}

.foot-table * {
	text-align: left;
	display: block;
	line-height: 4vh;
}

.foot-table a {
	color: white;
	font-size: 80%;
}

.foot-table a:hover , .designBy a:hover {
	color: #ca7d08;
	text-decoration: underline;
}

.designBy {
	padding: 4vh;
}
.designBy a {
	color: white;
}