
@media (max-width: 620px) {
    * {
        font-family: 'Ubuntu', Arial, sans-serif;
    }
/*     Header */
    .nav-list-B{
        overflow: scroll;
    }
    .nav-items-A, .nav-items-B {
        font-size: inherit;
        border: none;
        padding: 1vh
    }
    #navCart {
       font-size: 90%;
    }
    
    .nav-items-A:hover, .nav-items-B:hover{
       border: none;
    }
    
    #navSearch {
        margin: 0 1vh;
        height: 6vh;
    }
    #searchDropdown {   
        display: none;
    }
    #navSearchButton {   
        border-radius: 1.7vh 0 0 1.7vh;
        padding: 1.7vh 1.5vh 1.7vh 2vh;
    }
    
/*     Main */
    .sections {
        background: #dddddd;
    }
    .sections-ch {
       width: 100vw;
       margin: auto;
    }
    
    .section-small {
       display: flex;
       overflow: scroll;
       margin: 0 0.5vh;
       width: 100vw;
       padding: 0;
    }
    .hero {
        position: relative;
    }
    .hero-space {
        height: 0;
    }
    .img-box img {
        width: 600px;
        height: 250px;
    }
    .hero-grad {
        display: none;
    }
    @keyframes imgSlider {
    
    1%{
        right:calc(0vw);
    }
    10%{
        right:calc(0vw);
    }
    
    12%{
        right:calc(600*1px);
    }
    30%{
        right:calc(600*1px);
    }
    
    32%{
        right:calc(600*2px);
    }
    50%{
        right:calc(600*2px);
    }
    
    52%{
        right:calc(600*3px);
    }
    70%{
        right:calc(600*3px);
    }
    
    72%{
        right:calc(600*4px);
    }
    90%{
        right:calc(600*4px);
    }
    
    92%{
        right:calc(600*5px);
    }
    100%{
        right:calc(600*5px);
    }
    
}
    
    .section-4cards, .section-single {
        flex-wrap: wrap;
    }
    .section-4cards {
        gap: 0;
        padding-top: 0;
    }
    .card {
        width: auto;
        box-shadow: none;
        height: auto;
        margin: .2vh 0;
    }
    .card-1-img {
/*         height: auto; */
        height: 20vh;
        box-shadow: 2px 2px 8px rgb(0 0 0 / 30%);
    }

    .card-2-img {
        height: auto;
        box-shadow: 5px 5px 12px rgb(0 0 0 / 40%);
    }
    
    .card-scroll-1st-wrapper {
        padding: 0;
        margin: 0;
    }
    .btnLeft, .btnRight {
        display: none;
    }
    .card-scroll-1st-head {
        padding: 2vh 0vh;
        background: white;
    }
    .card-scroll-1st-img {
       height: 20vh;
    }

    .section-hotoffers {
        font-size: 2vh;
        padding: 3vh 0;
    }
    .card-scroll-2nd {
        flex-direction: column;
        justify-content: center;
    }
    .card-scroll-2nd-head {
        margin: auto auto;
        margin-bottom: 3vh;
        display: block;
        text-align: center;
        width: 25vh;
        background: #df0033;
        color: white;
        padding: 1.2vh;
        border-radius: 0.5vh;
    }
    .card-scroll-2nd-ch a {
        display: flex;
        justify-content: space-evenly;
    }
    .card-scroll-2nd-imgdiv {
        width: 10vh;
        margin-right: 6vh;
    }
    .card-scroll-2nd-img {
        height: 15vh;
    }
    .card-scroll-2nd-foot {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 4.5vh;
        gap: .7vh;
    }
    
    /*   Footer   */
    .foot-table div {
       margin-left: 3vw;
    }
    .foot-table ul {
       display: flex;
       flex-wrap: wrap;
       gap: 0 4vh;
    }
    .foot-table ul a {
       color: #ff9a00;
    }

}


/* -------------------------------------------- 1060px ---------------------------------------------- */


@media (min-width: 700px) and (max-width: 820px) {

    .section-4cards, .section-single {
        width: 100vw;
    }
    .btnLeft, .btnRight {
        display: none;
    }
    .card {
        margin: .7vh 0;
    }
    .section-4cards {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .section-4cards .card {
        width: 100vw;
        padding: 0.5vh;
        margin: .5vh 2vw;
    }
    .card-inner-ch.card-main {
        display: flex;
/*         gap: 1.5vw; */
    }
    .card-lower {
        margin-top: 0;
    }
    .section-single .card {
        width: 47vw;
        margin: 2vw 1vw;
    }
    .section-single .card-head, .section-single .card-foot{
        margin: 1vh;
    }
    
    .card-2-img {
        height: 27vh;
    }

/*  section-hotoffers */
    .card-scroll-2nd-imgdiv {
        width: 30vw;
    }
    
}



/* -------------------------------------------- 1060px ---------------------------------------------- */
@media (max-width: 1060px) {
    
    #navSearchInput {
        width: 233vw;
    }
    #navLocation, #navFlag , #navSignIn, #navRegistry, #navOrder {
        order: 3;
        display: none;
    }
    
    .navWrap {
        display: block;
        position: absolute;
        font-size: xx-large;
        margin: -.4vh -4vh 0;
    }
    #navLogo {
        order: 1;
        margin: 0 5vh;
    }
    #navAll {
       display: none;
    }
    #navLogo a {
        margin-left: 3vw;
    }
    #navCart {
        order: 2;
        margin: 0 1vh .2vh;
    }
    #navCart i {
        margin-top: 0;
    }
    #navSearch {
        margin: 0 2vh 1vh;
    }
    
    
    .nav-list-A {
        justify-content: space-between;
    }

}

