.link-style:visited {
    color: white;
}

.link-style:active {
    color: var(--third);
}

/* ---------------------------------------------- Sections -------------------------------------- */
.sections {
    /*! background: #ffc2aa; */
    /*! height: 1000vh; */
    /*! padding: 0 1vw; */
}

/*---------------------------------------------- Hero Section ----------------------------------------------*/

.hero {
    overflow: hidden;
    position: absolute;
}

.img-box {
    display: flex;
    position: relative;
    animation: imgSlider 25s ease-in-out alternate infinite;
}
@keyframes imgSlider {
    
    1%{
    right:calc(0vw);
    }
    10%{
    right:calc(0vw);
    }
    
    12%{
    right:calc(100*1vw);
    }
    30%{
    right:calc(100*1vw);
    }
    
    32%{
    right:calc(100*2vw);
    }
    50%{
    right:calc(100*2vw);
    }
    
    52%{
    right:calc(100*3vw);
    }
    70%{
    right:calc(100*3vw);
    }
    
    72%{
    right:calc(100*4vw);
    }
    90%{
    right:calc(100*4vw);
    }
    
    92%{
    right:calc(100*5vw);
    }
    100%{
    right:calc(100*5vw);
    }
    
}



.img-box img {
    width: 100vw;
}

.hero-space {
    height: 35vh;
}


/*---------------------------------------------- Hero Section ----------------------------------------------*/


.section-1 {
    padding: 3vh 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    align-items: center;
    justify-content: center;
    position: relative;
/*     background: black; */
}

/* ---------------------------------------------- Sections -------------------------------------- */

/* ----------------------------------------------- Card ------------------------------------------------- */

.card {
    display: flex;
    margin: 1vh;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
    border-radius: 1vw;
    font-size: 2.1vh;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 40%);
    width: 35vh;
}

.card-inner {
    /*! width: 35vh; */
    /*! padding: 0 2.2vh; */
}

.card-main-ch {
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.card-1, .card-3 {
    margin: 0.5vh 1vh 0 0;
}

.card-2, .card-4 {
    margin: 0.5vh 0;
}

.card-head {
margin: 2vh 1vh;
}
.card-main {
padding: 0 1vh;
}
.card-foot {
    margin: 2vh 1vh;
}

.card-main div div a div:nth-child(2) {
    font-size: 80%;
}

.card-1-img {
    width: 100%;
    height: 12vh;
    border-radius: 1vh;
}

#card-2-img {
    height: 30.5vh;
    width: 100%;
    border-radius: 1vh;
}

.card-text {
    text-decoration: auto;
    color: black;
}
.card-description {
    color: #007185;
}
.card-description:hover {
    color: #c60e0e;
    text-decoration: underline;
}

/* ---------------------------- Card -------------------------------------- */

