*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	outline: none;
	font-family: "poppins", sans-serif;
}

:root{
	/* 	1-Dark-Orange Theme */
	/* --first: #212121;
	--second: #313131;
	--third: #fc9800; */

	/* 	2-Green-Pink Theme */
	--first: #00453e;
	--second: #00453e;
	--third: #ffcabd;
}

/* background-images {
	background-image: url("../media/img/logo.png");
	background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} */

.border:hover {
	border: solid 1px white;
}